*_key.txt
vapt.db
__pycache__/
*.pyc
.env
logs/
Changelogformat.md
migrations/
backend/installed_plugins/*
!backend/installed_plugins/hooks/
!backend/installed_plugins/asset_inventory_scan/
agent/plugins/*
